.jumbotron > h1, p , span {
    display:block;
    text-align: center;
} 

.display-4 {
    font-family: 'Pacifico', cursive;
}
.lead {
    font-family: 'Srisakdi', cursive;
    font-size: 50px;

}
span {
   font-size:30px;
}